{% extends "base_generic.html" %}

{% block content %}
    <h1>Мною заброньований</h1>

    {% if productinstance_list %}
    <ul>

      {% for productinst in productinstance_list %}
      <li class="{% if productinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'product-detail' productinst.product.pk %}">{{productinst.product.title}}</a> ({{productinst.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no product booked.</p>
    {% endif %}
{% endblock %}
